*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: "freight-sans-pro", sans-serif;
}

.wrap {
	margin: 0 auto;
	max-width: 1160px;
}

.wrap--thin {
	max-width: 600px;
}

h1 {
	color: #ef0324;
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-size: 2.75em;
	font-weight: normal;
	margin: 40px 0 12px;
	text-align: center;
	text-transform: uppercase;
}

h1 a {
	color: inherit;
	text-decoration: inherit;
}

h2 {
	color: #ef0324;
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-size: 5em;
	font-weight: normal;
	letter-spacing: 0.15em;
	line-height: 0.9em;
	margin: 0.4em auto 0.2em;
	padding-left: 0.15em;
	text-align: center;
	text-transform: uppercase;
}

/* SPLASH */

.splash {
	background-color: #f65663;
	background-image: url(/image/splash.jpg);
	background-position: center center;
	background-size: cover;
	color: white;
	margin: 0 auto;
	max-width: 1100px;
	padding: 230px 50px 150px;
	text-align: center;
}

.splash h1 {
	border-bottom: 1px solid white;
	color: inherit;
	font-size: 10.75em;
	line-height: 0.9;
	margin: 0 auto;
	max-width: 4.85em;
}


.splash p {
	font-size: 2em;
	margin: 0.4em auto 0.6em;
}


/* HEADER */

header {
	border-bottom: 1px solid #f5814e;
	margin: 0 auto;
	max-width: 1100px;
	padding-bottom: 2em;
}

/* NAV */

.nav {
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-size: 1.25em;
	text-align: center;
}

.nav--big {
	font-size: 2.25em;
}

.nav--big .nav__item {
	padding: 0.2em 0.35em 0.1em;
	margin: 0 0.2em;
}

.nav__item {
	background-color: white;
	color: #ef0324;
	display: inline-block;
	padding: 0.45em 0.5em 0.3em 0.5em;
	text-decoration: none;
	text-transform: uppercase;
}

.nav__item:hover {
	background-color: #ef0324;
	color: white;
}
